

.header {
    display: flex;
    background-color: #1f2937;
}

.header-links {
    display: flex;
}

.sign-up {
    display: flex;
    background-color: #1f2937;
}

.image-container {
    display: flex;
}

.quotation-container {
    background-color: #e5e7eb;
}

.call-to-action-container {
    display: flex;
    background-color: #3882f6;
}